<section>
  <div class="container mx-auto flex justify-center items-center py-20">
    <div class="w-1/2">
      Hola
    </div>
    <div class="w-1/2">
      <h2 class="text-l text-red-600 uppercase font-semibold">Soluciones de transporte</h2>
      <h1 class="text-3xl font-bold">Empresa de Transporte</h1>
      <h3 class="text-l">Lorem ipsum</h3>

      <button class="bg-red-600 text-white rounded-md px-8 py-2 font-semibold hover:bg-black mt-8">Explora nuestros servicios</button>
    </div>
  </div>
</section>
