<header>
  <div
    class="container mx-auto flex flex-col items-center justify-between lg:flex-row lg:py-4"
  >
    <!-- Logo -->
    <div class="py-4 lg:py-0">
      <img class="float-right" src="../assets/AETAS.png" width="200px" />
    </div>

    <nav>
      <ul class="flex justify-start">
        <li class="p-4">inicio</li>
        <li class="p-4">servicios</li>
        <li class="p-4">galeria</li>
        <li class="p-4">contacto</li>
      </ul>
    </nav>      
  </div>
</header>
