---
import { Image } from "astro:assets";
import truckHome from "../assets/truck-home.jpg";
---

<section>
  <div class="relative">
    <Image
      class="absolute h-full w-full object-cover"
      src={truckHome}
      alt="Hola"
    />
    <div class="absolute h-full w-full bg-black opacity-60"></div>
    <div class="relative flex flex-row py-8 text-left">
      <h1
        class="container mx-auto text-left font-bold text-white text-4xl md:text-6xl lg:py-52 lg:text-7xl"
      >
        AETAS
      </h1>
    </div>
  </div>
</section>
